// Override Variables
$primary: #198754;
$secondary: #0d6efd;
$link-color: #6f42c1;
$font-family-sans-serif: 'Noto Sans JP';

@import '@fontsource/noto-sans-jp';
@import 'bootstrap/scss/bootstrap.scss';
